body {
    font-size: 8pt !important;
}

table, td {
    border-spacing: 0 !important;
    padding: 2px !important;
    font-size: 8pt !important;
}

th {
    background-color: #f5f5f5;
}

h1 {
    font-size: 16pt !important;
}